[mysqld]                                                                                                                               
max_connections=10000

server_id=1
log_bin=mysql-bin
binlog_format=ROW