<config>
	<default>
		<name>PDI project:default(use xml)</name>
		<repository>default</repository>
		<version>1.0test</version>
		<url>default localhost</url>
		<exitflag>0</exitflag>
		<debugmode>0</debugmode>
		<usestatus>0</usestatus>
		<starttime>2000-01-01</starttime>
		<endtime>3000-01-01</endtime>
	</default>
	<test>
		<name>PDI project:test(use xml)</name>
		<repository>test</repository>
		<version>1.0test</version>
		<url>test localhost</url>
		<exitflag>0</exitflag>
		<debugmode>0</debugmode>
	</test>
</config>