<config>
	<project name="default">
		<cfg key="Name">PDI project:default(use xml in rep dir)</cfg>
		<cfg key="Repository">default</cfg>
		<cfg key="Version">1.0test</cfg>
		<cfg key="Url">unknown</cfg>
		<cfg key="ExitFlag">false</cfg>
		<cfg key="DebugMode">true</cfg>
		<cfg key="UseStatus">true</cfg>
		<cfg namespace="Config.Time" key="StartTime">2000-01-01</cfg>
		<cfg namespace="Config.Time" key="EndTime">3000-01-01</cfg>
		<cfg namespace="Config.Main.Job" key="Path">/test</cfg>
		<cfg namespace="Config.Main.Job" key="Name">TestRun</cfg>

		<profile name="beta">
			<cfg key="Version">1.0.beta</cfg>
			<cfg key="Description">from_xml_content</cfg>
		</profile>
	</project>
</config>
