version: "3.7"
services:
  test:
    image: xiaoyao9184/kpt-canal-kafka-to-pgsql
    environment:
      PROFILE: prod,stream__bin_log_monitor__all
    configs:
      - source: config.xml
        target: /home/pentaho/canal-kafka-to-pgsql/config.xml
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.platform.os == linux
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 2
        window: 120s
    
configs:
  config.xml:
    file: ./config.xml