<config>
    <project name="kpt-cdc-to-rdb">
        <cfg key="Name">PDI project:kpt-cdc-to-rdb(use xml in rep dir)</cfg>
        <cfg key="Repository">kpt-cdc-to-rdb</cfg>
        <cfg key="Version">1.0</cfg>
        <cfg key="Url">https://github.com/xiaoyao9184/Kettle-Project-Toolbox</cfg>
        <cfg key="ExitFlag">false</cfg>
        <cfg key="DebugMode">false</cfg>
        <cfg key="UseStatus">false</cfg>
        <cfg namespace="Config.Time" key="StartTime">2000-01-01</cfg>
        <cfg namespace="Config.Time" key="EndTime">3000-01-01</cfg>
        <cfg namespace="Config.Main.Job" key="Path">/from-kafka</cfg>
        <cfg namespace="Config.Main.Job" key="Name">NONE</cfg>
        <cfg namespace="Config.Main.Transformation" key="Name">kafka_to_stream</cfg>
        <cfg namespace="Config.Delay.Injection.Crud" key="Time">0</cfg>
        <cfg namespace="Config.Delay.Injection.Field" key="Time">0</cfg>
        <cfg namespace="Config.Log.UpdateOnly.FlashPoint" key="Include">INSERT,SNAPSHOT</cfg>
        <cfg namespace="Config.Log.UpdateOnly.FlashPoint" key="Delay">2592000</cfg>
        <cfg namespace="Config.Log.UpdateOnly.FlashPoint" key="Timestamp">2000-01-01T00:00:00.000Z</cfg>
        <cfg namespace="Config.Log.Kafka.Batch" key="Size">10000</cfg>
        <cfg namespace="Config.Log.Kafka.Batch" key="Duration">60000</cfg>
        <cfg namespace="Config.Log.Kafka.Batch" key="Max">10000</cfg>
        
        <profile name="test_kpt">
            <cfg namespace="Config.DB.db_kpt_cdc_event_pgsql_writer" key="database">test_kpt</cfg>
            <cfg namespace="Config.DB.db_kpt_cdc_event_pgsql_writer" key="server">pgsql</cfg>
            <cfg namespace="Config.DB.db_kpt_cdc_event_pgsql_writer" key="port">5432</cfg>
            <cfg namespace="Config.DB.db_kpt_cdc_event_pgsql_writer" key="username">kpt</cfg>
            <cfg namespace="Config.DB.db_kpt_cdc_event_pgsql_writer" key="password">kpt.123</cfg>
        </profile>

        <profile name="debezium-mysql-pgsql.manual">
            <cfg namespace="Config.Log.Kafka.Server" key="Bootstrap">kafka:9092</cfg>
            <cfg namespace="Config.Log.Kafka.Consumer" key="Group">test_kpt.test_kpt_cdc.manual.20220128</cfg>
            <cfg namespace="Config.Log.Kafka.Data" key="Topic">test_debezium_mysql-test_kpt_cdc.data-changes.time_connect</cfg>
            
            <cfg namespace="Config.Log.Source.Transformation" key="Path">from-debezium</cfg>
            <cfg namespace="Config.Log.Source.Table" key="Mapping">mysql_playload_to_table_name.mapping</cfg>
            <cfg namespace="Config.Log.Source.Column" key="Mapping">mysql_schema_to_column_meta.mapping</cfg>
            <cfg namespace="Config.Log.Source.Key" key="Mapping">debezium_key_to_key_meta.mapping</cfg>
            <cfg namespace="Config.Log.Source.Switch" key="Mapping">debezium_operate_to_kettle_switch_flag.mapping</cfg>
            
            <cfg namespace="Config.Log.Target.Transformation" key="Path">to_pgsql</cfg>
            <cfg namespace="Config.Log.Target.Ingore" key="Mapping">pgsql_table_exists_to_ingore.mapping</cfg>
            <cfg namespace="Config.Log.Target.Column" key="Mapping">pgsql_column_case_to_column.mapping</cfg>
            <cfg namespace="Config.Log.Target.Schema" key="Prefix">mysql_manual_generation__</cfg>
            <cfg namespace="Config.Log.Target.Table" key="Prefix"></cfg>
        </profile>

        <profile name="debezium-mysql-pgsql.chameleon">
            <cfg namespace="Config.Log.Kafka.Server" key="Bootstrap">kafka:9092</cfg>
            <cfg namespace="Config.Log.Kafka.Consumer" key="Group">test_kpt.test_kpt_cdc.chameleon.20220128</cfg>
            <cfg namespace="Config.Log.Kafka.Data" key="Topic">test_debezium_mysql-test_kpt_cdc.data-changes.binary_bytes</cfg>
            
            <cfg namespace="Config.Log.Source.Transformation" key="Path">from-debezium</cfg>
            <cfg namespace="Config.Log.Source.Table" key="Mapping">mysql_playload_to_table_name.mapping</cfg>
            <cfg namespace="Config.Log.Source.Column" key="Mapping">mysql_schema_to_column_meta.mapping</cfg>
            <cfg namespace="Config.Log.Source.Key" key="Mapping">debezium_key_to_key_meta.mapping</cfg>
            <cfg namespace="Config.Log.Source.Switch" key="Mapping">debezium_operate_to_kettle_switch_flag.mapping</cfg>
            
            <cfg namespace="Config.Log.Target.Transformation" key="Path">to_pgsql</cfg>
            <cfg namespace="Config.Log.Target.Ingore" key="Mapping">pgsql_table_exists_to_ingore.mapping</cfg>
            <cfg namespace="Config.Log.Target.Column" key="Mapping">pgsql_column_case_to_column.mapping</cfg>
            <cfg namespace="Config.Log.Target.Schema" key="Prefix">mysql_chameleon_generation__</cfg>
            <cfg namespace="Config.Log.Target.Table" key="Prefix"></cfg>
        </profile>
        
    </project>
</config>
