<?xml version="1.0" encoding="UTF-8"?>
<element>
   <id>system</id>
   <value></value>
   <type>String</type>
   <children>
      <child>
         <id>openingLastEnvironmentAtStartup</id>
         <value>N</value>
         <type>String</type>
      </child>
      <child>
         <id>name</id>
         <value>system</value>
         <type>String</type>
      </child>
      <child>
         <id>lastUsedEnvironment</id>
         <value>dev</value>
         <type>String</type>
      </child>
      <child>
         <id>enabled</id>
         <value>Y</value>
         <type>String</type>
      </child>
   </children>
   <name>system</name>
   <security>
      <owner/>
      <owner-permissions-list/>
   </security>
</element>