<config>
    <project name="kpt-cdc-to-rdb">
        <cfg key="Name">PDI project:kpt-cdc-to-rdb(use xml in rep dir)</cfg>
        <cfg key="Repository">kpt-cdc-to-rdb</cfg>
        <cfg key="Version">1.0</cfg>
        <cfg key="Url">https://github.com/xiaoyao9184/Kettle-Project-Toolbox</cfg>
        <cfg key="ExitFlag">false</cfg>
        <cfg key="DebugMode">false</cfg>
        <cfg key="UseStatus">false</cfg>
        <cfg namespace="Config.Time" key="StartTime">2000-01-01</cfg>
        <cfg namespace="Config.Time" key="EndTime">3000-01-01</cfg>
        <cfg namespace="Config.Main.Job" key="Path">/from-kafka</cfg>
        <cfg namespace="Config.Main.Job" key="Name">NONE</cfg>
        <cfg namespace="Config.Main.Transformation" key="Name">cdc_to_batch</cfg>
        <cfg namespace="Config.CDC.Debug.Delay.Injection.Crud" key="Time">0</cfg>
        <cfg namespace="Config.CDC.Debug.Delay.Injection.Field" key="Time">0</cfg>
        <cfg namespace="Config.CDC.Target.Operate.UpdateOnly.FlashPoint" key="Include">INSERT,SNAPSHOT</cfg>
        <cfg namespace="Config.CDC.Target.Operate.UpdateOnly.FlashPoint" key="Delay">86400</cfg>
        <cfg namespace="Config.CDC.Target.Operate.UpdateOnly.FlashPoint" key="Timestamp">2000-01-01T00:00:00.000Z</cfg>
        <cfg namespace="Config.CDC.Kafka.Batch" key="Size">10000</cfg>
        <cfg namespace="Config.CDC.Kafka.Batch" key="Duration">60000</cfg>
        <cfg namespace="Config.CDC.Kafka.Batch" key="Max">10000</cfg>
        
        <profile name="test_kpt">
            <cfg namespace="Config.CDC.RDB.pgsql" key="database">test_kpt</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="server">TODO_CHANGE_IP</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="port">5432</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="username">TODO_CHANGE_USERNAME</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="password">TODO_CHANGE_PASSWROD</cfg>
        </profile>

        <profile name="debezium-mysql-pgsql">
            <cfg namespace="Config.CDC.Kafka.Server" key="Bootstrap">TODO_CHANGE_KAFKA</cfg>
            <cfg namespace="Config.CDC.Kafka.Consumer" key="Group">test_kpt.test_kpt_cdc.TODO_CHANGE_DATETIME</cfg>
            <cfg namespace="Config.CDC.Kafka.Data" key="Topic">test_debezium_mysql-test_kpt_cdc.data-changes</cfg>
            
            <cfg namespace="Config.CDC.Source.Transformation" key="Path">from-debezium</cfg>
            <cfg namespace="Config.CDC.Source.Row" key="Mapping">mysql_playload</cfg>
            <cfg namespace="Config.CDC.Source.Column" key="Mapping">mysql_schema</cfg>
            <cfg namespace="Config.CDC.Source.Key" key="Mapping">key_schema</cfg>
            
            <cfg namespace="Config.CDC.Target.Transformation" key="Path">to_pgsql</cfg>
            <cfg namespace="Config.CDC.Target.Operate" key="Mapping">update_only_flash_point</cfg>
            <cfg namespace="Config.CDC.Target.Table" key="Mapping">config_prefix_lookup</cfg>
            <cfg namespace="Config.CDC.Target.Column" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Key" key="Mapping">same_source</cfg>

            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Schema">mysql_manual_generation__</cfg>
            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Prefix"></cfg>
            
            <!-- Copy it and quickly set system variables -->
            <!--
name	value
Config.CDC.RDB.pgsql.database	test_kpt
Config.CDC.RDB.pgsql.server	TODO_CHANGE_IP
Config.CDC.RDB.pgsql.port	5432
Config.CDC.RDB.pgsql.username	TODO_CHANGE_USERNAME
Config.CDC.RDB.pgsql.password	TODO_CHANGE_PASSWROD
Config.CDC.Debug.Delay.Injection.Crud.Time	1000
Config.CDC.Debug.Delay.Injection.Field.Time	10000
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Include	INSERT,SNAPSHOT
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Delay	86400
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Timestamp	2000-01-01T00:00:00.000Z
Config.CDC.Kafka.Server.Bootstrap	TODO_CHANGE_KAFKA
Config.CDC.Kafka.Consumer.Group	test_kpt.test_kpt_cdc.TODO_CHANGE_DATETIME
Config.CDC.Kafka.Data.Topic	test_debezium_mysql-test_kpt_cdc.data-changes
Config.CDC.Kafka.Batch.Size	10000
Config.CDC.Kafka.Batch.Duration	60000
Config.CDC.Kafka.Batch.Max	10000
Config.CDC.Source.Transformation.Path	from-debezium
Config.CDC.Source.Row.Mapping	mysql_playload
Config.CDC.Source.Column.Mapping	mysql_schema
Config.CDC.Source.Key.Mapping	key_schema
Config.CDC.Target.Transformation.Path	to_pgsql
Config.CDC.Target.Operate.Mapping	update_only_flash_point
Config.CDC.Target.Table.Mapping	config_prefix_lookup
Config.CDC.Target.Column.Mapping	same_source
Config.CDC.Target.Key.Mapping	same_source
Config.CDC.Target.Table.Prefix.Schema	mysql_manual_generation__
Config.CDC.Target.Table.Prefix.Table	 
            -->
        </profile>
        <profile name="debezium-mssql-pgsql">
            <cfg namespace="Config.CDC.Kafka.Server" key="Bootstrap">TODO_CHANGE_KAFKA</cfg>
            <cfg namespace="Config.CDC.Kafka.Consumer" key="Group">test_kpt.test_kpt_cdc.TODO_CHANGE_DATETIME</cfg>
            <cfg namespace="Config.CDC.Kafka.Data" key="Topic">test_debezium_mssql-test_kpt_cdc.data-changes</cfg>
            
            <cfg namespace="Config.CDC.Source.Transformation" key="Path">from-debezium</cfg>
            <cfg namespace="Config.CDC.Source.Row" key="Mapping">mssql_playload</cfg>
            <cfg namespace="Config.CDC.Source.Column" key="Mapping">mssql_schema</cfg>
            <cfg namespace="Config.CDC.Source.Key" key="Mapping">key_schema</cfg>
            
            <cfg namespace="Config.CDC.Target.Transformation" key="Path">to_pgsql</cfg>
            <cfg namespace="Config.CDC.Target.Operate" key="Mapping">update_only_flash_point</cfg>
            <cfg namespace="Config.CDC.Target.Table" key="Mapping">config_prefix_lookup</cfg>
            <cfg namespace="Config.CDC.Target.Column" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Key" key="Mapping">same_source</cfg>

            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Schema">mssql_manual_generation__</cfg>
            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Table"></cfg>
            
            <!-- Copy it and quickly set system variables -->
            <!--
name	value
Config.CDC.RDB.pgsql.database	test_kpt
Config.CDC.RDB.pgsql.server	TODO_CHANGE_IP
Config.CDC.RDB.pgsql.port	5432
Config.CDC.RDB.pgsql.username	TODO_CHANGE_USERNAME
Config.CDC.RDB.pgsql.password	TODO_CHANGE_PASSWROD
Config.CDC.Debug.Delay.Injection.Crud.Time	1000
Config.CDC.Debug.Delay.Injection.Field.Time	10000
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Include	INSERT,SNAPSHOT
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Delay	86400
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Timestamp	2000-01-01T00:00:00.000Z
Config.CDC.Kafka.Server.Bootstrap	TODO_CHANGE_KAFKA
Config.CDC.Kafka.Consumer.Group	test_kpt.test_kpt_cdc.TODO_CHANGE_DATETIME
Config.CDC.Kafka.Data.Topic	test_debezium_mssql-test_kpt_cdc.data-changes
Config.CDC.Kafka.Batch.Size	10000
Config.CDC.Kafka.Batch.Duration	60000
Config.CDC.Kafka.Batch.Max	10000
Config.CDC.Source.Transformation.Path	from-debezium
Config.CDC.Source.Row.Mapping	mssql_playload
Config.CDC.Source.Column.Mapping	mssql_schema
Config.CDC.Source.Key.Mapping	key_schema
Config.CDC.Target.Transformation.Path	to_pgsql
Config.CDC.Target.Operate.Mapping	update_only_flash_point
Config.CDC.Target.Table.Mapping	config_prefix_lookup
Config.CDC.Target.Column.Mapping	same_source
Config.CDC.Target.Key.Mapping	same_source
Config.CDC.Target.Table.Prefix.Schema	mssql_manual_generation__
Config.CDC.Target.Table.Prefix.Table	 
            -->
        </profile>
        <profile name="canal-mysql-pgsql">
            <cfg namespace="Config.CDC.Kafka.Server" key="Bootstrap">TODO_CHANGE_KAFKA</cfg>
            <cfg namespace="Config.CDC.Kafka.Consumer" key="Group">test_kpt.test_kpt_cdc.TODO_CHANGE_DATETIME</cfg>
            <cfg namespace="Config.CDC.Kafka.Data" key="Topic">test_canal-test_kpt_cdc</cfg>
            
            <cfg namespace="Config.CDC.Source.Transformation" key="Path">from-canal</cfg>
            <cfg namespace="Config.CDC.Source.Row" key="Mapping">canal_table</cfg>
            <cfg namespace="Config.CDC.Source.Column" key="Mapping">canal_sqltype</cfg>
            <cfg namespace="Config.CDC.Source.Key" key="Mapping">canal_pknames</cfg>
            
            <cfg namespace="Config.CDC.Target.Transformation" key="Path">to_pgsql</cfg>
            <cfg namespace="Config.CDC.Target.Operate" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Table" key="Mapping">config_prefix_lookup</cfg>
            <cfg namespace="Config.CDC.Target.Column" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Key" key="Mapping">same_source</cfg>

            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Schema">mysql_manual_generation__</cfg>
            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Table"></cfg>

            <!-- Copy it and quickly set system variables -->
            <!--
name	value
Config.CDC.RDB.pgsql.database	test_kpt
Config.CDC.RDB.pgsql.server	TODO_CHANGE_IP
Config.CDC.RDB.pgsql.port	5432
Config.CDC.RDB.pgsql.username	TODO_CHANGE_USERNAME
Config.CDC.RDB.pgsql.password	TODO_CHANGE_PASSWROD
Config.CDC.Debug.Delay.Injection.Crud.Time	1000
Config.CDC.Debug.Delay.Injection.Field.Time	10000
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Include	INSERT,SNAPSHOT
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Delay	86400
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Timestamp	2000-01-01T00:00:00.000Z
Config.CDC.Kafka.Server.Bootstrap	TODO_CHANGE_KAFKA
Config.CDC.Kafka.Consumer.Group	test_kpt.test_kpt_cdc.TODO_CHANGE_DATETIME
Config.CDC.Kafka.Data.Topic	test_canal-test_kpt_cdc
Config.CDC.Kafka.Batch.Size	10000
Config.CDC.Kafka.Batch.Duration	60000
Config.CDC.Kafka.Batch.Max	10000
Config.CDC.Source.Transformation.Path	from-canal
Config.CDC.Source.Row.Mapping	canal_table
Config.CDC.Source.Column.Mapping	canal_sqltype
Config.CDC.Source.Key.Mapping	canal_pknames
Config.CDC.Target.Transformation.Path	to_pgsql
Config.CDC.Target.Operate.Mapping	same_source
Config.CDC.Target.Table.Mapping	config_prefix_lookup
Config.CDC.Target.Column.Mapping	same_source
Config.CDC.Target.Key.Mapping	same_source
Config.CDC.Target.Table.Prefix.Schema	mysql_manual_generation__
Config.CDC.Target.Table.Prefix.Table	 
            -->
        </profile>
    </project>
</config>
