<config>
    <project name="kpt-cdc-to-rdb">
        <cfg key="Name">PDI project:kpt-cdc-to-rdb(use xml in rep dir)</cfg>
        <cfg key="Repository">kpt-cdc-to-rdb</cfg>
        <cfg key="Version">1.0</cfg>
        <cfg key="Url">https://github.com/xiaoyao9184/Kettle-Project-Toolbox</cfg>
        <cfg key="ExitFlag">false</cfg>
        <cfg key="DebugMode">false</cfg>
        <cfg key="UseStatus">false</cfg>
        <cfg namespace="Config.Time" key="StartTime">2000-01-01</cfg>
        <cfg namespace="Config.Time" key="EndTime">3000-01-01</cfg>
        <cfg namespace="Config.Main.Job" key="Path">/from_kafka</cfg>
        <cfg namespace="Config.Main.Job" key="Name">NONE</cfg>
        <cfg namespace="Config.Main.Transformation" key="Name">cdc_to_batch</cfg>
        <cfg namespace="Config.CDC.Debug.Delay.Injection.Crud" key="Time">0</cfg>
        <cfg namespace="Config.CDC.Debug.Delay.Injection.Field" key="Time">0</cfg>
        <cfg namespace="Config.CDC.Target.Operate.UpdateOnly.FlashPoint" key="Include">INSERT,SNAPSHOT</cfg>
        <cfg namespace="Config.CDC.Target.Operate.UpdateOnly.FlashPoint" key="Delay">86400</cfg>
        <cfg namespace="Config.CDC.Target.Operate.UpdateOnly.FlashPoint" key="Timestamp">2000-01-01T00:00:00.000Z</cfg>
        <cfg namespace="Config.CDC.Kafka.Batch" key="Size">10000</cfg>
        <cfg namespace="Config.CDC.Kafka.Batch" key="Duration">60000</cfg>
        <cfg namespace="Config.CDC.Kafka.Batch" key="Max">10000</cfg>
        
        <profile name="test_kpt">
            <cfg namespace="Config.CDC.RDB.pgsql" key="database">test_kpt</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="server">pgsql</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="port">5432</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="username">kpt</cfg>
            <cfg namespace="Config.CDC.RDB.pgsql" key="password">kpt.123</cfg>
        </profile>

        <profile name="debezium-mysql-pgsql.manual">
            <cfg namespace="Config.CDC.Kafka.Server" key="Bootstrap">kafka:9092</cfg>
            <cfg namespace="Config.CDC.Kafka.Consumer" key="Group">test_kpt.test_kpt_cdc.manual.20220128</cfg>
            <cfg namespace="Config.CDC.Kafka.Data" key="Topic">test_debezium_mysql-test_kpt_cdc.data-changes.binary_bytes</cfg>
            
            <cfg namespace="Config.CDC.Source.Transformation" key="Path">from-debezium</cfg>
            <cfg namespace="Config.CDC.Source.Row" key="Mapping">mysql_playload</cfg>
            <cfg namespace="Config.CDC.Source.Column" key="Mapping">mysql_schema</cfg>
            <cfg namespace="Config.CDC.Source.Key" key="Mapping">key_schema</cfg>
            
            <cfg namespace="Config.CDC.Target.Transformation" key="Path">to_pgsql</cfg>
            <cfg namespace="Config.CDC.Target.Operate" key="Mapping">update_only_flash_point</cfg>
            <cfg namespace="Config.CDC.Target.Table" key="Mapping">config_prefix_exist</cfg>
            <cfg namespace="Config.CDC.Target.Column" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Key" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Schema">mysql_manual_generation__</cfg>
            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Table"></cfg>

            <!-- Copy it and quickly set system variables -->
            <!-- Differences: external port, delay used, add Config.Profile -->
            <!--
name	value
Config.Profile	test_kpt,debezium-mysql-pgsql.manual
Config.CDC.RDB.pgsql.database	test_kpt
Config.CDC.RDB.pgsql.server	pgsql
Config.CDC.RDB.pgsql.port	55432
Config.CDC.RDB.pgsql.username	kpt
Config.CDC.RDB.pgsql.password	kpt.123	
Config.CDC.Debug.Delay.Injection.Crud.Time	1000		
Config.CDC.Debug.Delay.Injection.Field.Time	10000	
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Include	INSERT,SNAPSHOT	
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Delay	86400	
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Timestamp	2000-01-01T00:00:00.000Z
Config.CDC.Kafka.Batch.Size	10000
Config.CDC.Kafka.Batch.Duration	60000	
Config.CDC.Kafka.Batch.Max	10000	
Config.CDC.Kafka.Server.Bootstrap	kafka:59094	
Config.CDC.Kafka.Consumer.Group	test_kpt.test_kpt_cdc.manual.20220128	
Config.CDC.Kafka.Data.Topic	test_debezium_mysql-test_kpt_cdc.data-changes.binary_bytes		
Config.CDC.Source.Transformation.Path	from-debezium	
Config.CDC.Source.Row.Mapping	mysql_playload	
Config.CDC.Source.Column.Mapping	mysql_schema	
Config.CDC.Source.Key.Mapping	key_schema	
Config.CDC.Target.Transformation.Path	to_pgsql	
Config.CDC.Target.Operate.Mapping	update_only_flash_point	
Config.CDC.Target.Table.Mapping	config_prefix_exist
Config.CDC.Target.Column.Mapping	same_source	
Config.CDC.Target.Key.Mapping	same_source
Config.CDC.Target.Table.Prefix.Schema	mysql_manual_generation__	
Config.CDC.Target.Table.Prefix.Table		

            -->
        </profile>

        <profile name="debezium-mysql-pgsql.chameleon">
            <cfg namespace="Config.CDC.Kafka.Server" key="Bootstrap">kafka:9092</cfg>
            <cfg namespace="Config.CDC.Kafka.Consumer" key="Group">test_kpt.test_kpt_cdc.chameleon.20220128</cfg>
            <cfg namespace="Config.CDC.Kafka.Data" key="Topic">test_debezium_mysql-test_kpt_cdc.data-changes.binary_bytes</cfg>
            
            <cfg namespace="Config.CDC.Source.Transformation" key="Path">from-debezium</cfg>
            <cfg namespace="Config.CDC.Source.Row" key="Mapping">mysql_playload</cfg>
            <cfg namespace="Config.CDC.Source.Column" key="Mapping">mysql_schema</cfg>
            <cfg namespace="Config.CDC.Source.Key" key="Mapping">key_schema</cfg>
            
            <cfg namespace="Config.CDC.Target.Transformation" key="Path">to_pgsql</cfg>
            <cfg namespace="Config.CDC.Target.Operate" key="Mapping">update_only_flash_point</cfg>
            <cfg namespace="Config.CDC.Target.Table" key="Mapping">config_prefix_exist</cfg>
            <cfg namespace="Config.CDC.Target.Column" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Key" key="Mapping">same_source</cfg>
            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Schema">mysql_chameleon_generation__</cfg>
            <cfg namespace="Config.CDC.Target.Table.Prefix" key="Table">for_chameleon__</cfg>

            <!-- Copy it and quickly set system variables -->
            <!-- Differences: external port, delay used, add Config.Profile -->
            <!--
name	value
Config.Profile	test_kpt,debezium-mysql-pgsql.chameleon
Config.CDC.RDB.pgsql.database	test_kpt
Config.CDC.RDB.pgsql.server	pgsql
Config.CDC.RDB.pgsql.port	55432
Config.CDC.RDB.pgsql.username	kpt
Config.CDC.RDB.pgsql.password	kpt.123
Config.CDC.Debug.Delay.Injection.Crud.Time	1000		
Config.CDC.Debug.Delay.Injection.Field.Time	10000	
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Include	INSERT,SNAPSHOT	
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Delay	86400	
Config.CDC.Target.Operate.UpdateOnly.FlashPoint.Timestamp	2000-01-01T00:00:00.000Z
Config.CDC.Kafka.Batch.Size	10000
Config.CDC.Kafka.Batch.Duration	60000	
Config.CDC.Kafka.Batch.Max	10000	
Config.CDC.Kafka.Server.Bootstrap	kafka:59094	
Config.CDC.Kafka.Consumer.Group	test_kpt.test_kpt_cdc.chameleon.20220128	
Config.CDC.Kafka.Data.Topic	test_debezium_mysql-test_kpt_cdc.data-changes.binary_bytes		
Config.CDC.Source.Transformation.Path	from-debezium	
Config.CDC.Source.Row.Mapping	mysql_playload	
Config.CDC.Source.Column.Mapping	mysql_schema	
Config.CDC.Source.Key.Mapping	key_schema	
Config.CDC.Target.Transformation.Path	to_pgsql	
Config.CDC.Target.Operate.Mapping	update_only_flash_point	
Config.CDC.Target.Table.Mapping	config_prefix_exist
Config.CDC.Target.Column.Mapping	same_source	
Config.CDC.Target.Key.Mapping	same_source
Config.CDC.Target.Table.Prefix.Schema	mysql_chameleon_generation__	
Config.CDC.Target.Table.Prefix.Table	for_chameleon__	

            -->
        </profile>
        
    </project>
</config>
